asgiref==3.2.7
backports.tempfile==1.0
backports.weakref==1.0.post1
click==7.1.1
Django==3.0.5
Flask==1.1.2
Flask-HTTPAuth==3.3.0
Flask-JWT==0.3.2
itsdangerous==1.1.0
Jinja2==2.11.1
lxml==4.5.0
MarkupSafe==1.1.1
Pillow==7.1.1
preppy==3.0.1
Pygments==2.6.1
PyJWT==1.4.2
PyPDF2==1.26.0
python-gettext==4.0
pytz==2019.3
reportlab==3.5.42
six==1.14.0
sqlparse==0.3.1
transaction==3.0.0
trml2pdf==0.4.3
Werkzeug==1.0.1
z3c.rml==3.10.0
zope.browser==2.3
zope.component==4.6.1
zope.configuration==4.4.0
zope.contenttype==4.5.0
zope.deferredimport==4.3.1
zope.deprecation==4.4.0
zope.event==4.4
zope.exceptions==4.3
zope.hookable==5.0.1
zope.i18n==4.7.0
zope.i18nmessageid==5.0.1
zope.interface==5.1.0
zope.location==4.2
zope.pagetemplate==4.5.0
zope.proxy==4.3.5
zope.publisher==5.2.0
zope.schema==6.0.0
zope.security==5.1.1
zope.tal==4.4
zope.tales==5.0.2
zope.traversing==4.4.1
